<div class="center jumbotron">
  <h1>Welcome to Sachu Puchu Kitchen</h1>
  <p>The blog is about Indian recepies and how fun cooking can be.</p>
  <%=link_to "Sign Up Now", signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
  </p>
</div>