/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap-sprockets";
@import "bootstrap";

$text-color: #ffffff;

#logo {
  color: $text-color;
  font-size: 1.7em;
  text-transform: uppercase;
  font-weight: bold;
}

#logo:hover {
  text-decoration: underline;
}

.navbar {
  background: #f2b90d;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('foodBlog.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1, p {
  color: $text-color;
  font-weight: bold;
  font-size: 5em;
  margin-bottom: 30px;
  letter-spacing: -1px;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
  margin-top: 20px;
}

.btn-xlarge:hover {
  color: #f2b90d;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover {
  color: #222222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

p {
  color: black;
  font-size: large;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}

.desccription{
  margin-top: 0;
}