<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="#">Follow us on facebook to get latest updates</a>
      by Priya Sodhi
    </small>
    <nav>
      <ul>
        <li>
          <%=link_to "About", about_path %>
        </li>
      </ul>
    </nav>
  </footer>
</div>